@charset "UTF-8";
@media (max-width: 1300px) {
  .swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@font-face {
  font-family: "Black Han Sans";
  src: url("/path/to/BlackHanSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
body {
  cursor: url("/img/svg/op_mushroom.svg"), auto;
  background-color: black;
}

.d-flex {
  display: flex;
}

.jsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0 !important;
  padding: 0 !important;
}

.rounded-30 {
  border-radius: 30px;
}

.mx-70 {
  margin: 0 519px;
}

.py-60 {
  padding: 0 60px;
}

.px-70 {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

.bg-w {
  background-color: white;
  border-radius: 57px;
}

.ti_Blank {
  margin-bottom: 70px !important;
}

.st_Blank {
  margin-bottom: 15px !important;
}

.textB_18 {
  color: #3E3E3E;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.textB_W18 {
  color: #ffffff;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.72px;
}

#hd {
  width: 1728px;
  top: 90px;
  position: absolute;
  z-index: 1000px;
  height: 85px;
  margin: 0 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hd:hover {
  box-shadow: 0 0px 20px 0 rgba(10, 10, 10, 0.548);
}
#hd h1 a img {
  display: flex;
  align-items: center;
}
#hd .gnb .gnb_li a {
  display: inline-block;
  color: #5e5c5c !important;
  font-family: "Black Han Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#hd .gnb .gnb_li a:hover {
  color: red !important;
}
#hd #continer {
  gap: 313px;
  padding: 16px 60px;
  width: 100%; /* 컨테이너의 가로 크기를 100%로 설정 */
}
#hd .myicon a img {
  transform: scale(0.8);
}

#mainBanner .mainp {
  margin: 39px 48px;
}
#mainBanner .mainp .smenu {
  position: relative;
  top: -46px;
  width: 882px;
  height: 90px;
  background-image: url(../img/svg/yellow_menu.svg);
}
#mainBanner .mainp .smenu ul {
  padding: 50px;
}
#mainBanner .mainp .smenu ul li {
  text-wrap: nowrap;
}
#mainBanner .mainp .smenu .sb_menuT {
  color: #EC6907 !important;
  font-family: "Black Han Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 60px;
}
#mainBanner .mainp .smenu .sb_menuT:hover {
  color: #924408 !important;
}

#news_swiper h2 {
  color: #033333 !important;
  font-family: "Black Han Sans", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#news_swiper h2 strong {
  color: red;
}
#news_swiper h2 .d_11 {
  position: relative;
  top: 7px;
}
#news_swiper h2 p {
  width: 194px;
}
#news_swiper .swiper {
  margin-left: 48px;
  overflow: hidden;
}
#news_swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#news_swiper .swiper-slide p {
  text-wrap: nowrap;
}
#news_swiper .news_img1 img {
  width: 499px;
  height: 301;
  border-radius: 15px;
}
#news_swiper .swiper-wrapper {
  position: relative;
  width: 1920px;
  height: auto;
}
#news_swiper .swiper-wrapper .button-next {
  position: absolute;
  z-index: 100;
  z-index: 100 !important;
  width: 48px;
  height: 48px;
  margin: auto;
  left: 0;
  background-image: url(../img/svg/arrow_left.svg);
}
#news_swiper .swiper-wrapper .button-prev {
  position: absolute;
  z-index: 100 !important;
  right: 0;
  width: 48px;
  height: 48px;
  margin: auto;
  right: 0;
  background-image: url(../img/svg/arrow_right.svg);
}