@media (max-width: 1300px) {
    .swiper-slide {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@font-face {
    font-family: 'Black Han Sans';
    src: url('/path/to/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body {
    cursor: url('/img/svg/op_mushroom.svg'),auto;
    background-color: black;
  }
  

.d-flex {
    display: flex;
}

.jsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0 !important;
    padding: 0 !important;
}
.rounded-30 {
    border-radius: 30px;
  }
.mx-70{
    margin: 0 519px;
}
.py-60{
    padding: 0 45px;
}
.px-70{
    padding-right: 70px !important;
    padding-left: 70px !important;
}
.bg-w {
    background-color: white;
    border-radius: 57px;
}
// .w-100{
//     width: 100%;
// }
// .container{
//     max-width: 1280px;
//     margin: 0 auto;
// }
// .px-4{
//     padding: 0 3rem;
// }

//대메뉴 텍스트
.gnbT{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

//타이틀 텍스트
.titleT{
   
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

//리드카피
.leadcopy{
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.68px;
}

//스몰 리드카피
.inT{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.68px;
    line-height: normal;
}

//하단메뉴
.b_Menu{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

// 하단메뉴 의 소메뉴 
.b_MenuB{
    
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-black{
    color: #000;
    
}
.fontNoto{
    font-family: "Noto Sans KR";
}
.fontBase{
    font-family: "Black Han Sans";
}

//푸터 
.footer_T{

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.68px;
}

//마리오 컨텐츠 타이틀
.m_title{
    color: #fff;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

//마리오 메뉴 텍스트
.m_Menu{
  
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.m_Menu26{
    

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
//마리오 무비 타이틀 텍스트
.m_Movie{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.m_Movie40{

    font-size: 40px;
    font-style: normal;
    font-weight: 400; 
    line-height: normal;
}
//게임 컨텐츠 텍스트
.gNm{

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
//캐릭터 이름 텍스트
.cNm{
 
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 각 컨텐츠의 간격
.cententB{
    margin-bottom: 170px;
}
//타이틀과 컨텐츠의 간격
.ti_Blank{
    margin-bottom : 70px !important;
}
.ti_BlankTop{
    padding-top: 70px;
}
//컨텐츠와 리드 카피의 간격
.ct_Blank{
    margin-bottom:15px !important;
    }

#hd {
    
    width: 1728px;
    top: 90px;
    position: absolute;
    z-index: 1000px;
    height: 85px;
    margin: 0 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0 0px 20px 0 rgba(10, 10, 10, 0.548);
    }
    h1{
        a{
            img{
                display: flex;
                align-items: center;

            }
        }
        
        
    }

    .gnb {
        // gap: 100px;

        .gnb_li a {
            display: inline-block;
            color: #474545 !important;
            font-family: 'Black Han Sans', sans-serif;
            font-size: 22px;  //폰트 깨짐으로 인한 사이즈 수정.
            font-style: normal;
            font-weight: 300; //모든 폰트 weight 300으로 수정.
            line-height: normal;
            &:hover{
                color: red !important;
            }
        }

    }
   

    #continer {
        gap: 313px;
        padding: 16px 60px;
        width: 100%; /* 컨테이너의 가로 크기를 100%로 설정 */
        
        
    }
    .myicon{
        a{
            img{
                transform: scale(0.8);

            }
           
        }
    }
    
}

#mainBanner{
    .container{
        
    }
    .mainp{
        margin: auto;
        left: calc(-50%);


        a{
            img{
            
            }
        }
    
        .smenu{
            position: relative;
            top: -46px;
            width: 882px;
            height: 90px;
            background-image: url(../img/svg/yellow_menu.svg);

            ul{
                padding: 50px;
                li{
                    text-wrap: nowrap;
                    
                     
                }
            }

            .sb_menuT{
                color: #EC6907 !important;
                font-family:"Black Han Sans", sans-serif;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                left: 60px;
                &:hover{
                    color: #924408 !important;
                }

            }
            

        }
        
    
    }
 
}
#news_swiper{
  

    h2{
        color: #033333 !important;
        font-family:"Black Han Sans", sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
        strong{
            color: red;
        }
        .d_11{
            position: relative;
            top: 7px;
        }
        p{
            width: 194px;
        }
    }
    
    .swiper {
        margin-left: 48px;
        overflow: hidden;
        position: relative;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-wrap: nowrap;
            color: #3e3e3e;
        }
    }
    .news_img1 img {
        width: 499px;
        height: 301;
        border-radius: 15px;
    }
    .swiper-wrapper{
        
        width: 1920px;
            height: auto;
        
       
    }
    .button-next,
    .button-prev{
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 100 !important;
        width: 48px;
        height: 48px;
        top: calc(50% - 50px);
        
    }
    .button-prev{
        right: 28px;
        background-image: url(../img/svg/arrow_right.svg);

    }
    .button-next{
            
        left: 28px;

        background-image: url(../img/svg/arrow_left.svg);

    }

}
#mContent{

    .redB{
        position: relative;
        background: url(../img/png/dotte_red.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        width: 1824px;
        height: 2235px;
        
        p{
            padding-bottom: 1rem;
            color: #fff;
        }
        .yBox{
            background: url(../img/svg/ybox.svg);
            width: 256px;
            height: 256px;
            position: absolute;
            top: calc(-4%);
            right:calc(-1%);
        }
        .mario{
            position: absolute;
            background: url(../img/svg/mario_img.svg) no-repeat;
            width: 500px;
            height: 609px;
            left: calc(-2.2%);
            bottom: 0;
            top: calc(7%);
            z-index: 10000;
        }
        

        .rZone{
            background: url(../img/svg/r_zone.svg)no-repeat;
            overflow: hidden;
            position: absolute;
            width: 1911px;
            height: 528px;
            left: calc(-48px);
            top: calc(29.2%);
            
            .marioSwiper{
                top: calc(50%);
                .swiper {
                    
                    overflow: hidden;
                    position: relative;
                }
                .swiper-slide {
                    width: 450px;
                    height: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: #fff;
                        a{
                            img{
                                width: 450px;
                                height: 300px;
                                border-radius: 15px;
                            }
                        }

                    }
                    
                }
                .swiper-wrapper{
                        margin: 0 0 auto auto;
                        width: 1400px;
                        height: auto;
                }
                
            }

            .button-next{
                position: absolute;
                left: calc(9%);
                top: calc(35%);
                z-index: 1000;
                transform: rotate(-180deg);

                
            }
            .button-prev{
                position: absolute;
                right: calc(9%);
                top: calc(35%);
                z-index: 1000;
                
            }
        }
        .movie{
            position: absolute;
            z-index: 1000;
            top: calc(57%);
            .mMovie{
                width: 547px;
                height: 144px;
                background: url(../img/svg/mario_Movie.svg)no-repeat;
    
            }
            iframe{
                display: none;
                border-radius: 20%;
            }
            .youtube_img{
                width: 1420px;
                height: 525px;
                background: url(../img/svg/mario_Movie_in.svg )no-repeat;
            }

        }
        

        
    }


    

}

#soft_Swiper{
  

    h2{
        color: #033333 !important;
        font-family:"Black Han Sans", sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
        strong{
            color: red;
        }
        .d_11{
            position: relative;
            top: 7px;
        }
        p{
            width: 194px;
        }
    }
    
    .swiper {
        margin-left: 48px;
        overflow: hidden;
        position: relative;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            text-wrap: nowrap;
            color: #3e3e3e;
        }
    }
    .news_img1 img {
        width: 499px;
        height: 301;
        border-radius: 15px;
    }
    .swiper-wrapper{
        
        width: 1920px;
            height: auto;
        
       
    }
    .button-next,
    .button-prev{
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 100 !important;
        width: 48px;
        height: 48px;
        top: calc(50% - 50px);
        
    }
    .button-prev{
        right: 28px;
        background-image: url(../img/svg/arrow_right.svg);

    }
    .button-next{
            
        left: 28px;

        background-image: url(../img/svg/arrow_left.svg);

    }

}
