@font-face {
    font-family: 'Black Han Sans';
    src: url('/path/to/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body {
    cursor: url('/img/svg/op_mushroom.svg'),auto;
    background-color: black;
  }
  

.d-flex {
    display: flex;
}

.jsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0 !important;
    padding: 0 !important;
}
.rounded-30 {
    border-radius: 30px;
  }
.mx-70{
    margin: 0 519px;
}
.py-60{
    padding: 0 60px;
}
.px-70{
    padding-right: 70px !important;
    padding-left: 70px !important;
}
.bg-w {
    background-color: white;
    border-radius: 57px;
}
// .w-100{
//     width: 100%;
// }
// .container{
//     max-width: 1280px;
//     margin: 0 auto;
// }
// .px-4{
//     padding: 0 3rem;
// }



.ti_Blank{
    margin-bottom : 70px;
}
.st_Blank{
    margin-bottom:20px;
    }


#hd {
    
    width: 1728px;
    top: 90px;
    position: absolute;
    z-index: 1000px;
    height: 85px;
    margin: 0 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 0 0px 20px 0 rgba(10, 10, 10, 0.548);
    }
    h1{
        a{
            img{
                display: flex;
                align-items: center;

            }
        }
        
        
    }

    .gnb {
        // gap: 100px;

        .gnb_li a {
            display: inline-block;
            color: #5e5c5c !important;
            font-family: 'Black Han Sans', sans-serif;
            font-size: 22px;  //폰트 깨짐으로 인한 사이즈 수정.
            font-style: normal;
            font-weight: 300; //모든 폰트 weight 300으로 수정.
            line-height: normal;
            &:hover{
                color: red !important;
            }
        }

    }
   

    #continer {
        gap: 313px;
        padding: 16px 60px;
        width: 100%; /* 컨테이너의 가로 크기를 100%로 설정 */
        
        
    }
    .myicon{
        a{
            img{
                transform: scale(0.8);

            }
           
        }
    }
    
}

#mainBanner{
    .mainp{
        margin: 39px 48px;

        a{
            img{
            
            }
        }
    
        .smenu{
            position: relative;
            top: -46px;
            width: 882px;
            height: 90px;
            background-image: url(../img/svg/);

            ul{
                padding: 50px;
                li{
                    text-wrap: nowrap;
                    
                     
                }
            }

            .sb_menuT{
                color: #EC6907 !important;
                font-family:"Black Han Sans", sans-serif;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                left: 60px;
                &:hover{
                    color: #924408 !important;
                }

            }
            

        }
        
    
    }
 
}
#news_swiper{

    h2{
        color: #033333 !important;
        font-family:"Black Han Sans", sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
        strong{
            color: red;
        }
        p{
            width: 194px;
        }
    }

    .swiper {
        overflow: hidden;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news_img1 img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

}